__pycache__/
fighist/
analysis/figs/
model/scratch.jl
.DS_Store
*.icloud
analysis/old/
model/bak/
analysis/figs-dcpolicy/
analysis/.fighist/
analysis/tmpfigs/
model/.fighist/
analysis/alt_styles.r
analysis/figs.bak/
analysis/results.bak/
model/results/.trash/
